/* html file is color.html */

body {
	background-color:#a63754;
	color:#f29c50;
	border:2px solid #f29c50;
	padding:1.2%;
	margin:1.2%;
}

p#zero, p#one, p#two, p#three, p#four {
	background-color:#f29c50;
	color:#a63754;
	padding:1%;
	margin:1%;
	font-size:120%;
}

