/* Lindsay Lambert Project 3 DWS1 8/21/14 */
@font-face {
	font-family: 'Alex Brush';
	src: url('fonts/AlexBrush-Regular.tff');
}


/* Title Only */

#title {
	font-size: 2em;
	font-family: Alex Brush, Helvetica, serif;
	text-align:center;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px;
	letter-spacing: 0.2em;
	word-spacing: 1em;
	font-weight: bold
}	

/* Links Setup for User Interaction */

a:link {
	color: #654;
}
a:hover {
	color: #639;
}
a:active {
	color: #f63;
}
a:visited {
	color: #099;
}


/* Generic Body Styling Plus Gradient */

body {
	font-family: Georgia, Helvetica, serif;
	border-radius: 10px;
	font-weight: lighter;
	text-align:left;
	color:#639;
	font-size: 1.125em;
	padding: 13px;
	background-color: #99c;
	box-shadow: 1px 2px 3px 3px rgb(48, 23, 73);
	background: #a081bd; /* Old browsers */
	background: -moz-linear-gradient(top,  #a081bd 1%, #a081bd 17%, #a081bd 24%, #a081bd 24%, #a081bd 30%, #a081bd 30%, #a081bd 54%, #48226d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a081bd), color-stop(17%,#a081bd), color-stop(24%,#a081bd), color-stop(24%,#a081bd), color-stop(30%,#a081bd), color-stop(30%,#a081bd), color-stop(54%,#a081bd), color-stop(100%,#48226d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a081bd 1%,#a081bd 17%,#a081bd 24%,#a081bd 24%,#a081bd 30%,#a081bd 30%,#a081bd 54%,#48226d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a081bd 1%,#a081bd 17%,#a081bd 24%,#a081bd 24%,#a081bd 30%,#a081bd 30%,#a081bd 54%,#48226d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a081bd 1%,#a081bd 17%,#a081bd 24%,#a081bd 24%,#a081bd 30%,#a081bd 30%,#a081bd 54%,#48226d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a081bd 1%,#a081bd 17%,#a081bd 24%,#a081bd 24%,#a081bd 30%,#a081bd 30%,#a081bd 54%,#48226d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a081bd', endColorstr='#48226d',GradientType=0 ); /* IE6-9 */

}	

/* Sebastian's Birthday */

#birthday {
	display:block;
	font-size: 1.5em;
	padding: 10px;
	background-color: #099;
	color: #9cc;
	border:1px ridge #066;
	border-radius: 10px;
	text-shadow: 1px 1px 2px;
	box-shadow: 1px 2px 3px 3px rgb(48, 23, 73);
}

/* Container holding Content */

.container {
	width: 950px;
	margin: 18px auto 18px auto;
	color: #f63;
	border: 2px solid #f63;
	background-color:#fff;
	border-radius: 10px;
	padding: inherit;
	box-shadow: 1px 2px 3px 3px rgb(48, 23, 73);
	clear:both;
}	

/* Page Navigation */

#nav {
	display: inline-block;
}	


/* Headers Only */


.headers {
	color:#fc9;
	background-color: #f63;
	opacity: 0.8;
	padding: inherit;
	border-radius: 10px;
	text-align: center;
	border-style: groove;
	text-shadow: 1px 1px 1px;
	box-shadow: 1px 2px 3px 3px rgb(48, 23, 73);
	clear: both;
}	



/* Image Links */

figure img {
	border: 2px solid #f63;
	display: block;
}	

	
/* Ordered List */ 

.list {
	list-style-type: lower-roman;
	list-style-position: inside;
	border-radius: 10px;
	box-shadow: 1px 2px 3px 3px rgb(48, 23, 73);
}



.clear {
	clear: both;
}	




/* My block quote that is on the bottom right of the page */


blockquote {
	width:300px;
	height: 230px;
	font-style:italic;
	font-weight: bolder;
	font-size: 1.25em;
	line-height: 1.4em;
	font-family:Helvetica, Verdana, serif;
	background-color:#639;
	color:#c9c;
	padding:15px;
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	border-radius: 10px;
	text-shadow: 1px 1px 2px;
	box-shadow: 1px 2px 3px 3px rgb(48, 23, 73);
	margin: 10px auto 10px auto;
	float:right;
	display:inline;
	position: relative;
	vertical-align: right bottom;
}




/* Accomplishments at the Bottom of the Page */


#accomplishments {
	width:300px;
	height:335px;
	font-size: 1.5em;
	font-weight: bolder;
	color: #9cc;
	background-color:#099;
	padding:10px;
	border-radius: 10px;
	border-style: groove;
	display: inline;
	margin: 10px auto 10px auto;
	box-shadow: 1px 2px 3px 3px rgb(48, 23, 73);
	float:left;
	clear:both;
	vertical-align: left bottom;
}			


	
