a:link {
color : #A60000;
text-decoration : none;
}
a:visited {
color : #000000;
}
a:hover {
color : #FF7400;
text-decoration : underline;
}
a:active {
color : #CD0074;
}
body {
position:center;
width:1200px;
font-family:Arial, Georgia, serif;
font-size : 19px;
font-weight:normal;
font-style:normal;
line-height:100%;
color : #840A0A;
background-image:url("../images/pattern.png");
box-shadow : 5px 5px 5px #000 inset;
text-align : left;
text-shadow : 1px 1px 1px #000;
vertical-align : middle;
margin : 10px 15px auto;
padding : 5px;
display: block;
}
input {
padding: 6px 12px 6px 12px;
border: 1px solid #665544;
color: #ffffff;
}
input.submit:hover {
background-color: #BF3030;
}
input.submit:active {
background-color: #A60000;
}
input.text {
color: #FF7373;
text-align:right;
letter-spacing: 0.3em;
}
input.text:focus {
color:#665544;
}
#dropdownp {
font-size:18px;
width:70px;
height:80px;
background-color: #BF3030;
border: 2px #A60000 solid;
color: #FF7373;
text-align : left;
text-shadow : 1px 1px 1px #000;
padding: 3px;
float:right;
clear:right;
}
#dropdown {
font-size:14px;
width:85px;
background-color: #BF3030;
border: 2px #A60000 solid;
color: #FF7373;
text-align : left;
text-shadow : 1px 1px 1px #000;
padding: 3px;
float:right;
}
header {
width:100%;
font-family: FertigoProRegular, Georgia, serif;
font-size : 25px;
color : #FF7373;
background-color : #BF3030;
text-align : left;
text-shadow : 1px 1px 1px #000;
vertical-align : top;
margin : 6px;
padding : 2px;
border : #A60000 solid;
border-radius : 25px;
border-width : 2px;
position: relative;
box-shadow : 8px 8px 3px #888888;
opacity : 0.75;
}
#thedb9 {
width:100%;
color : #FF7373;
background-color : #BF3030;
text-align : left;
text-shadow : 1px 1px 1px #000;
vertical-align : top;
margin : 6px;
padding : 2px;
border : #A60000 solid;
border-width : 2px;
position: relative;
box-shadow : 8px 8px 3px #888888;
opacity : 0.75;
position:relative;
clear:both;
}
h2 {
font-size : 19px;
color : #FF7373;
background-color : #BF3030;
text-align : left;
text-shadow : 1px 1px 1px #000;
border : #A60000 solid;
border-width : 2px;
box-shadow : 10px 10px 5px #888888;
opacity : 0.75;
}
.hidetext {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
float:left;
clear:left;
}
h3 {
font-weight : bold;
color : #FF7373;
background-color : #BF3030;
text-align : left;
text-shadow : 1px 1px 3px #000;
margin : 4px;
padding : 2px;
border : #A60000 solid;
border-width : 2px;
box-shadow : 10px 10px 5px #888888;
opacity : 0.75;
}
@font-face {
    font-family: 'FertigoProRegular';
    src: url('Fertigo_PRO-webfont.eot');
    src: url('Fertigo_PRO-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fertigo_PRO-webfont.woff') format('woff'),
         url('Fertigo_PRO-webfont.ttf') format('truetype'),
         url('Fertigo_PRO-webfont.svg#FertigoProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
img a {
border: 1px solid #BF3030;
}
img a:hover {
border:3px solid #FF6600;
}
img.large {
width: 460px;
height: 280px;
border: 2px #BF3030 solid;
box-shadow: 10px 10px 5px #888;
padding: 1px;
margin: 5px;
}
img.medium {
width: 350px;
height: 200px;
border: 2px #BF3030 solid;
box-shadow: 10px 10px 5px #888;
float: right;
padding: 1px;
margin: 5px;
}
p {
font-size : 19px;
width : 400px;
height : 120px;
font-size : 26px;
color : #F98181;
text-align : right;
text-shadow : 1px 1px 1px #000;
margin : 20px auto;
padding : 5px;
border : #F9D6D6 solid;
border-width : 2px;
display: block;
clear: both;
}
.vantage {
width:500px;
height:200px;
border: 2px;
box-shadow: 10px 10px 5px #888;
float:right;
clear:both;
}
.hidetext {
font-size : 19px;
width : 400px;
height : 170px;
font-size : 26px;
color : #F98181;
text-align : right;
text-shadow : 1px 1px 1px #000;
margin : 20px auto;
padding : 5px;
border : #F9D6D6 solid;
border-width : 2px;
float:left;
clear:left;
}
ol {
list-style-type: lower-roman;
}
.head {
width: 660px;
font-size : 20px;
color : #FF7373;
background-color : #BF3030;
text-align : center;
text-shadow : 1px 1px 1px #000;
margin : auto;
padding : 5px;
border : solid #A60000;
border-width: 2px;
box-shadow : 10px 10px 5px #888888;
}
.even {
width: 660px;
font-size : 20px;
color : #FF7373;
background-color : #BF3030;
text-align : center;
text-shadow : 1px 1px 1px #000;
margin : auto;
padding : 5px;
border : solid #A60000;
border-width: 2px;
box-shadow : 10px 10px 5px #888888;
}
#news1 {
width:100%;
margin:10px;
display:block;
}
#newslist {
float:left;
clear:left;

#news2 {
float: right;
margin: 20px;
}
#linksrel {
width : 180px;
float : left;
padding : 16px 0 15px 0;
}
