body {
	font-size: 80%;
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: 0.15em;	
	background-color: #efefef;
}
	
h1 {
	font-size: 1.5em;
}	
	
h2 {
	font-size: 1.33em;	
}		

h3 {
	font-size: 1.25em;
}
	
ul#navigation {
	list-style-type: none;
	text-align: center;
	width: 625px;
	border-top: 1px solid #000;
	border-bottom: 2px solid #000;
	padding: 15px;
	margin:0 auto;
}

li.listitem {
	margin: 0 3px;
	display: inline;
}	

p #content {
	width: 300px;
	margin: 20px auto;
}
	
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
}
	
a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
}
	
#content {
	width: 960px;
	border: 4px double #000;
	padding: 20px;
	margin: 10px auto;
}
	
#logo {
	width: 303px;
	margin: 10px auto 25px auto;
}

#content img {
	float: left;
	margin: 20px;
	overflow: auto;
}	

#column1of2, #column2of2 {
	width: 280px;
	float: left;
	margin: 10px;
	overflow: auto;	
}

#gallery_content {
	width: 500px;
	margin: 20px auto;
	overflow: auto;
}

.entry {
	font-size: 0.7em;
	width: 220px;
	height: 220px;
	float:left;
	margin: 10px;
	background: url("../images/shadow.png") no-repeat bottom;
}	

figure {
	width: 202px;
	height: 193px;
	margin: 0;
	padding: 9px;
	background-color: #e7e3d8;
}

figure img {
	width: 200px;
	height: 150px;
	border: 1px solid #d6d6d6;
}

figcaption {
	background: url("../images/icon.png") no-repeat;
	padding: 5px 0 0 25px;
}

figcaption a {
	padding: 0;
}
			
		
.clear {
	clear: both;
}

table {
	border-spacing: 0;
}

th, td {
	padding: 5px 30px 5px 10px;
	font-size: 90%;
	margin: 0;
	background-color: #cbd2d8;
	border-top: 1px solid #f1f8fe;
	border-bottom: 1px solid #cbd2d8;
	border-right: 1px solid #cbd2d8;
	text-shadow: 1px 1px 1px #ffffff;
}

.even {
	background-color: #F1F8FE;
}


	
th {
	text-align: left;
}

td {
	text-align: right;
}

#contact_content {
	width: 350px;
	margin: 20px auto;
}

fieldset {
	width: 310px;
	margin-top: 20px;
	border: 1px solid #fff;
}

legend {
	font-style: italic;
	color: #666;
}

.title {
	width: 150px;
	float: left;
	clear: left;
}

input {
	width: 120px;
	border: 1px solid #d6d6d6;
	padding: 2px;
}


input:hover, input:focus {
	background-color: #d0e2f0;
	border: 1px solid #999;	
}


#submit {
	width: 310px;
	text-align: right;
}
 
 
input[type="submit"] {
	border: 1px solid #063;
	background-color: #096;
	color: #fff;
	padding: 5px;
	margin-top: 10px;
}


input[type="submit"]:hover {
	background-color: #0C3;
	cursor: pointer;
}	
							