h1
	{
	font-size:25px;
	color:#F9D6D6;
	background-color:#840A0A;
	text-align:left;
	vertical-align:top;
	margin:6px;
	padding:2px;
	border:#F98181 solid;
	border-width:1px;
	}
h2
	{
	font-size:19px;
	color:#F9D6D6;
	background-color:#840A0A;
	text-align:left;
	margin:4 px;
	padding:2 px;
	border:#F98181 solid;
	border-width:1px;
	}
h3
	{
	font-weight:bold;
	color:#F9D6D6;
	background-color:#840A0A;
	text-align:left;
	margin:4px;
	padding:2px;
	border:#F98181 solid;
	border-width:1px;
	}
body
	{
	font-size:16px;
	color:#840A0A;
	background-color:#F9D6D6;
	text-align:left;
	vertical-align:middle;
	margin:10px 15px;
	padding:5px;
	}
p
	{
	width:400px;
	height:120px;
	font-size:16px;
	color:#F98181;
	background-color:#960E0E;
	text-align:right;
	margin:10px auto;
	padding:2px;
	border:#F9D6D6 solid;
	border-width:1px;
	}